body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.infoBox {
  float: right;
  zoom: 0.8;
  border: 2px solid black;
  border-radius: 4px;
  width: auto;
  margin: 8px;
  padding: 4px;
}

.infoBox dt {
  font-weight: bold;
}

.noList {
  list-style: none;
}

.mainDiv {
  position: absolute;
  left: 0;
  top: 50px; /*navbarheight*/
  height: calc(100vh - 50px);
  width: 100%;
}

.big {
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 30%;
  width: 460px;
  margin-left: -230px;
  font-size: 50px;
  animation: 2s ease 0s 1 slideInFromTop;
}
.infoBox {
  position: absolute;
  background-color: white;
  z-index: 2;
  right: 0 !important;
  top: 0;
  width: auto;
}

@media screen and (max-width: 900px) {
  .infoBox {
    top: unset;
    bottom: 0 !important;
  }

  .big {
    width: 300px;
    margin-left: -150px;
  }
}

.bottomRightFixed {
  position: absolute;
  left: 8px;
  bottom: 4px;
  z-index: 2;
}

.hidden {
  visibility: hidden;
}

.uploadIcon {
  margin-left: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  color: black;
}

.uploadIcon :hover {
  color: rgb(187, 187, 187);
  transition: 0.5s all ease;
  text-decoration: none !important;
}

.animatedArrow {
  transform: translate(5px, -45px);
  position: absolute;
  opacity: 0;
  color: rgb(68, 68, 68);
  animation: 1.5s ease infinite animatedArrow;
  animation-delay: 3s;
}

.disable-select {
  user-select: none;
}

@keyframes animatedArrow {
  0% {
    transform: translate(5px, -80px);
    opacity: 0;
  }
  50% {
    transform: translate(5px, -45px);
    opacity: 1;
  }
  99% {
    transform: translate(5px, -45px);
    opacity: 0;
  }
  100% {
    transform: translate(5px, -80px);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-40%) scale(0.3, 0.3);
    opacity: 0;
  }
  40% {
    transform: scale(1.3, 1.3);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.printControl {
  z-index: 2;
  position: absolute;
}

.relContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
}

.rectangle {
  float: left;
  width: 40px;
  height: 40px;
  margin: 2px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
}

.fullSpace {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fadeInAnim {
  animation: 2s ease 0s 1 fadeIn;
}

input,
select {
  font-size: 14pt;
  background-color: white;
  padding: 4px !important;
  border-radius: 4px;
  margin: 2px;
  vertical-align: middle;
}

input[type="file"] {
  border: none !important;
}

input[type="button"] {
  border: 1px solid black;
}

.lds-ring {
  transform: translate(20%, 20%);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  zoom: 0.3;
  margin-right: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.default-page {
  margin: 10px 10px 0px 10px;
}
